{% extends 'base.html' %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-flex">
      <div class="column">
        <h3 class="subtitle is-3">Selecione o Imovel/Lote</h3>
      </div>
      <div class="select">
        <select name='tipo'>
          <option>Todos</option>
          <option>Apartamento</option>
          <option>Lote</option>
        </select>
      </div>
    </div>

      {% for imovel in imoveis %}
      <div class="card mx-6 mt-4">
        <div class="card-content ">
          <div class="media">
            <div class="media-content">
              <a href="{% url 'pages:venda' imovel.id %}">
                <p class="title is-4">{{imovel.id}} - {{imovel.descricao}}</p>
              </a>
              <p class="subtitle is-6">{{imovel.endereco}}</p>
            </div>
          </div>
  
          <h6 class="title is-6 ">Valor do Imovel</h6>
          <h6 class="subtitle is-6 mx-4">{{imovel.valor_imovel}}</h6>
  
          <h6 class="title is-6">Comissao</h6>
          <h6 class="subtitle is-6 mx-4">{{imovel.comissao}}</h6>
  
          <h6 class="title is-6">Tipo</h6>
          <h6 class="subtitle is-6 mx-4">{{imovel.tipo}}</h6>

          <br/>
          <footer class="card-footer">
            <p class="card-footer-item">Publicado em {{imovel.data_inclusao}}</p>
          </footer>
        </div>
      </div>
      {% endfor %}
  </div>
</section>
{% endblock %}