{% extends 'base.html' %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <h3 class="subtitle is-3">Selecione o Imovel/Lote</h3>
    </div>

      {% for imovel in imoveis %}
      <div class="card mx-6 mt-4">
        <div class="card-content ">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{imovel.descricao}}</p>
              <p class="subtitle is-6">{{imovel.endereco}}</p>
            </div>
          </div>
  
          <h6 class="title is-6 ">Valor do Imovel</h6>
          <h6 class="subtitle is-6 mx-4">{{imovel.vlrimovel}}</h6>
  
          <h6 class="title is-6">Comissao</h6>
          <h6 class="subtitle is-6 mx-4">{{imovel.vlrcomissao}}</h6>
  
          <h6 class="title is-6">Tipo</h6>
          <h6 class="subtitle is-6 mx-4">{{imovel.tipo}}</h6>
          
          <br/>
          <footer class="card-footer">
            <p class="card-footer-item">Publicado em {{imovel.dtainclusao}}</p>
          </footer>
        </div>
      </div>
      {% endfor %}
    
  
  </div>
  <!-- <div class="container is-flex is-justify-content-space-between">
    <div>
      {% if page_obj.has_previous %}
      <a class="pagination-previous" href="?busca={{ busca }}&page=1">primeira</a>
      <a class="pagination-previous" href="?busca={{ busca }}&page={{ page_obj.previous_page_number }}">anterior</a>
      {% endif %}
      {% if page_obj.has_next %}
      <a class="pagination-previous" href="?busca={{ busca }}&page={{ page_obj.next_page_number }}">próxima</a>
      <a class="pagination-previous" href="?busca={{ busca }}&page={{ page_obj.paginator.num_pages }}">última</a>
      {% endif %}
    </div>
    <div>
      <p>
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
      </p>
    </div>
  </div> -->
</section>
{% endblock %}